profile: ambient

pilot:
  env:
    PILOT_ENABLE_AMBIENT: true
  nodeSelector:
    karpenter.sh/nodepool: system
  tolerations:
  - key: CriticalAddonsOnly
    operator: Exists
    effect: NoSchedule
