apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ravindravarigalla786/istio-system.git
    targetRevision: main
    path: argocd/platforms/manifests/prometheus
  destination:
    server: https://kubernetes.default.svc
    namespace: istio-system
  syncPolicy:
    automated: null
    syncOptions:
      - CreateNamespace=true
